.cards-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.cards-list > a {
  text-decoration: none;
  color: inherit;
}

.card {
  /* Add shadows to create the "card" effect */
  margin: 10px 14px;
  flex:1 1 0px;
  min-width: 400px;
  max-width: 600px;
  min-height: 200px;
  background: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
}

.card > .logo {
  width: 70px;
  margin: 32px 0 0 22px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

/* Add some padding inside the card container */
.right-side {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  width:100%;
}

.right-side > .rating {
  font-weight: bolder;
  font-size: smaller;
  margin: 12px 0 0 0;
  align-self: flex-end;
}

.right-side > .description {
  margin: 8px 0 20px;
}

.great {
  color: green;
}

.good {
  color: orange;
}

.okay {
  color: red;
}
