<h3>Job Source: {{ jobBoard }}</h3>
<div class="empty-page loading-container" *ngIf="loading">
  <div class="loading"></div>
</div>
<div class="table-container" *ngIf="!loading">
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Job URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td>{{ job.id }}</td>
        <td>{{ job.companyName }}</td>
        <td>{{ job.jobTitle }}</td>
        <td><a (click)="openInNewTab(job.jobUrl)">{{ job.jobUrl }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
